@use 'loader';
@use 'postcard';

body{
    padding: 0px;
    margin: 0px;
    background-color: #f9f9f9;
    color: #333; 
    font-family: 'Arial', sans-serif;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 10px;
}

.no-posts {
    text-align: center;
    margin-top: 50px;
    color: #555;
    font-size: 22px;
    font-weight: 700;
}

.modal-style {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    min-height: 300px;
    max-height: 500px;
    background-color: #fff;
    border: 2px solid #000;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 16px;
    &:focus {
        outline: none;
      }
  }
  
  

  .textbox {
    display: block;
    padding: 16px 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
    font-size: 16px;
    color: #666;
    cursor: pointer;
    user-select: none;
    transition: all 0.2s ease-in-out;
    margin: 30px 0;
  
    &:hover {
      border-color: #aaa;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
      background-color: #fefefe;
    }
  
    p {
      margin: 0;
      color: #444;
      font-weight: 500;
    }
  }
  